.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  overflow-x: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2rem;
  }
}


.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 4rem;
  margin-left: 1rem;
  color: #213f7d;
  word-wrap: break-word;
  overflow-wrap: break-word;

  @media (max-width: 768px) {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

.usersOverview {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  margin-left: 1rem;
  width: 100%;
  overflow-x: hidden;

  @media (max-width: 768px) {
    gap: 1rem;
    flex-direction: column;
  }
}
