.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
  background-color: white;

  th,
  td {
    padding: 1rem;
    text-align: left;
    font-size: 14px;
    color: #213f7d;
  }

  th {
    background-color: #f9fafb;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }

  tr {
    border-bottom: 1px solid #e5e7eb;
  }

  tr:hover {
    background-color: #f9fafb;
  }
}

/* Status pills */
.status {
  padding: 4px 10px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  width: fit-content;
}

.active {
  background-color: rgba(57, 205, 204, 0.1);
  color: #39cdcc;
}

.pending {
  background-color: rgba(233, 178, 0, 0.1);
  color: #e9b200;
}

.inactive {
  background-color: rgba(84, 95, 125, 0.1);
  color: #545f7d;
}

.blacklisted {
  background-color: rgba(228, 3, 59, 0.1);
  color: #e4033b;
}

@media (max-width: 768px) {
  .table {
    min-width: auto; // Allow the table to shrink
    font-size: 12px; // Adjust font size for smaller screens

  th, td {
    padding: 0.5rem; // Reduce padding for smaller screens
  }
  }

  .hideOnMobile {
    display: none;
  }
}
