.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  height: 80px;
  padding: 0 2rem;
  background-color: white;
}

.navlink {
  color: #213f7d;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.right {
  gap: 1.5rem;
}

.search {
  width: 250px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 3px 8px;
  border: none;
  border-radius: 4px;
  background-color: #39cdcc;
  color: white;
  cursor: pointer;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.profileImage {
  border-radius: 50px;
  padding: 5px;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .search {
    display: none;
  }

  .searchButton {
    display: none;
  }

  .navlink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .right {
    position: absolute;
    top: 80px;
    right: 1rem;
    left: 1rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 200px;
    display: none;
  }

  .right.active {
    display: flex;
  }

  .dropdownMenu {
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 2rem;
    background-color: #f9f9f9;
    min-width: 260px;
    font-size: medium;
    border-radius: 8px;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
