/* Navbar.module.scss */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 2rem;

  background-color: white;
  border-bottom: 1px solid;
}

.navlink{
  text-decoration: none;
  color:#213f7d ;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.right {
  gap: 1.5rem;
}

.search{
  width: 250px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  padding: 3px 8px;
  border: none;
  border-radius: 4px;
  background-color: #39cdcc;
  color: white;
  cursor: pointer;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.profileImage{
  border-radius: 50px;
  padding: 5px;
}