.page{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  padding: 2.5rem;
  color: #213f7d;
  background-color: #f5f5f5;
  height: 100dvh;
}

.sidebarHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 3rem;
}

.sidebarHeader span{
  font-size: 1rem;
  font-weight: 600;
}

.dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0.6;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: .3rem;
}

.sidebarMenu{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebarMenu h4{
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  text-transform: uppercase;
}

.sidebarMenu li{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

