.page{
  display: flex;
  flex-direction: row;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  padding: 2.5rem;
  color: #213f7d;
  background-color: #f5f5f5;
  height: 100%;
}

.sidebarHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 3rem;
}

.sidebarHeader span{
  font-size: 1rem;
  font-weight: 600;
}

.dashboard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  opacity: 0.6;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: .5rem;
}

.sidebarMenu{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sidebarMenu h4{
  font-size: 1rem;
  font-weight: 700;
  margin-top: 3rem;
  text-transform: uppercase;
}

.sidebarMenu li{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 9px;
  margin: 9px;
  opacity: 0.6;
  max-width: 100%;
}

.sidebarMenu li:hover{
  background-color: #39cdcdc4;
  border-left: 4px solid #39cdcc;
  opacity: 1;
}

.customersNav{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  color: #213f7d;
  font-weight: 400;
}