.page{
  display: flex;
}

.sidebar{
  width: 300px;
  padding: 1.5rem;
  color: #213f7d;
  background-color: #f5f5f5;
  height: 100dvh;
}

.sidebarHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sidebarHeader span{
  font-size: 1rem;
  font-weight: 600;
}